                                            /* test animation fleur */
                                            @keyframes rotation {
                                                from {
                                                    transform: rotate(0deg); /* Départ */
                                                }
                                                to {
                                                    transform: rotate(360deg); /* Une rotation complète */
                                                }
                                            }
                                            
                                            .rotate-image {
                                                animation: rotation 3s linear infinite; /* Durée : 3 secondes, répétée à l'infini */
                                            }
                                            