                                            /* test animation fleur */
                                            @keyframes rotation {
                                                from {
                                                    transform: rotate(0deg); /* Départ */
                                                }
                                                to {
                                                    transform: rotate(360deg); /* Une rotation complète */
                                                }
                                            }
                                            
                                            .rotate-image {
                                                animation: rotation 3s linear infinite; /* Durée : 3 secondes, répétée à l'infini */
                                            }
                                            
                                            /* fin test rotation fleur */ 

                                            /* test réglage vidéo en fond dans le header */

                                            .banner {
                                                position: relative;
                                                width: 100%;
                                                height: 100vh;
                                                overflow: hidden;
                                            }
                                            
                                            .video-bg {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                                z-index: -1;
                                            }